  
    .intro{
        max-width: 984px;
        margin: 0 auto;
        transition: 0.3s;;
        
    }
    .intro__column{
       padding-top:92px;
       max-width: 785px;

    }

    .intro__title{
        font-size:54px;
        font-weight:900;
        margin: 0
    }

    .intro__quote{
        font-size:24px;
        margin: 40px 0 0;

    }
    .intro__quote-author{
        font-size:24px;
        margin: 10px 0 0;
        text-align: right;
    }
    .intro__description{
        font-size:15px;
        margin: 32px 0 0;

    }
   
    @media screen and (max-width: 1054px) {

        .intro {
            max-width: calc(100% - 48px);
        }
      }